@font-face {
    font-family: 'PressStart2P';
    src: url('../fonts/PressStart2P-Regular.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Nineteen';
    src: url('../fonts/NineteenEightySeven-MzMJ.ttf') format('truetype');
  }

* {
  box-sizing: border-box;
}


body {
    font-family: 'PressStart2P', sans-serif;
    color: #dadada;
    position: relative;

    background: url(../img/background.gif) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    padding:0;
    margin:0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.region-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 15px;
  text-align: center;
  max-width: 1080px;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(1px);
}


.switcher {
  position: relative;
  z-index: 10;
  display: flex;
  width: 90%;
  align-items: center;
  text-align: center;
  /* bottom: 30px;/ */
  max-width: 1000px;
}

.switcher label {
  padding: 2vw 2.5vw;
  font-size: min(2vw, 20px);
}