@font-face {
    font-family: 'PressStart2P';
    src: url('../fonts/PressStart2P-Regular.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Nineteen';
    src: url('../fonts/NineteenEightySeven-MzMJ.ttf') format('truetype');
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}
body{
    /* font-family: 'PressStart2P', sans-serif; */
    color: #dadada;
    position: relative;
    background-color: #333;
}

.username {
    margin-top: 5px;
    position: absolute;
    font-family: sans-serif;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 15px;
    z-index: 1;
}

h1 {
    position: absolute;
    top: 5px;
    left: 50%;
    z-index: 10;
    font-size: 25px;
    color: white;
}

#wrapper{
    display: block;
    height: 100%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 0 auto;
    max-width: 600px;

}

canvas {
    background: lightblue;
    display: block;
    width: 100%;
    height: 100vh;
}
/*#wrapper::after {*/
/*    content: "";*/
/*    display: block;*/
/*    width: 100%;*/
/*    height: 180px;*/
/*    position: absolute;*/
/*    top: calc(100% - 1vw /4);*/
/*    left: 50%;*/
/*    transform: translate(-50%, -50%);*/
/*    border-top: 5px solid grey;*/
/*}*/


#player, #tile, #street, #road {
    display: none;
}